<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>store list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Location</h1>
<p th:text="'latitude: ' + ${location.latitude}" />
<p th:text="'longitude: ' + ${location.longitude}" />
<a href="/find-form">Submit another location</a>
</body>
</html>